extends ../layouts/default



block intro
    script. 
        var txt = "Ex-Wife here, and no, they’re not funny at all. Your sense of humor was always warped. And "
                    + "please, don’t tell me people are actually going to buy this book. I mean, why would anyone pay "
                    + "to read your dribble? </p><p>"
                    + "Since we’re talking about sex, you need to mention this: Women are like roads, the more "
                    + "curves, the bigger the danger. </p><p>"
                    + "Sure, we had a lot in common, I liked to breathe. </p><p>"
                    + "I once asked you what you liked about me, my amazing body or my gorgeous face. I’ll never "
                    + "forget what you said, “Your sense of humor.” Not funny, Mister. </p><p>"
                    + "Don’t even get me started on your MOTHER. One time when I was frustrated with you, she "
                    + "took me aside and said with her broken English, “Are you . . . You know, time of month?” She "
                    + "drove me bananas. </p><p>"
                    + "You should have used this joke: ‘I once heard a joke about amnesia, but I forgot how it goes.’ "
                    + "What? This book is bout marriage? Fine, here’s one:“Darling, would you save me if I jumped "
                    + "into the water?” ‘Honey, if I said yes, would you jump?’”</p><p> "
                    + "You were never big on logic, yeah, sung you own tune most of the time, and it was way off "
                    + "beat. Speaking of logic, I just heard this funny joke: Sherlock Holmes and Dr. Watson go on a "
                    + "camping trip. After a good dinner and a bottle of wine, they retire for the night, and go to "
                    + "sleep. Some hours later, Holmes wakes up and nudges his faithful friend. ‘Watson, look up at "
                    + "the sky and tell me what you see.’</p><p> "
                    + "‘I see millions and millions of stars, Holmes’ replies Watson. ‘And what do you deduce from "
                    + "that?’ "
                    + "Watson ponders for a minute. "
                    + "‘Well, astronomically, it tells me that there are millions of galaxies and "
                    + "potentially billions of planets. Astrologically, I observe that Saturn is in Leo. Horologically, I "
                    + "deduce that the time is approximately a quarter past three. Meteorologically, I suspect that we "
                    + "will have a beautiful day tomorrow. Theologically, I can see that God is all powerful, and that "
                    + "we "
                    + "60 "
                    + "are a small and insignificant part of the universe. What does it tell you, Holmes?’ Holmes is "
                    + "silent for a moment. ‘Watson, you idiot,’ he says. ‘Someone has stolen our tent!’”</p><p> "
                    + "You sound like you know so much about love. So how come your never understood that the "
                    + "statement, ‘Do you love me?’Actually means, ‘I’m going to buy something expensive?’” </p><p>"
                    + "You always had the hots for Julia Roberts,” Karim’s Ex-Wife. I dig being in the quotes with a "
                    + "name credit, and I may do it again. What? You can’t stop me. I’ll write wherever I chose. I "
                    + "can rewrite this entire book if I wanted. What? Your ending the box right here? Ahhh . . .” </p><p>"
                    + "Remember when I put this note on the bathroom mirror: ‘How much do you love me?’ You "
                    + "put a note next to it saying, ‘Bigger than the world.’ You didn’t know what my note actually "
                    + "meant, ‘I just bought that expensive sun-room chair.’” </p><p>"
                    + "Here you go again. Dude, look in the mirror once, no need to beat us "
                    + "over the head. Besides, why didn’t you do this when we were married? Good lord, you needed "
                    + "to big time. I like mirrors. Remember that vintage one I bought at an estate sale? I told you it "
                    + "was $20. Now I can tell you the truth, it cost $120. But you gotta admit, I looked pretty fine in "
                    + "it. It was a skinny mirror. It took about 20 pounds off, not that I needed to take any off.” </p><p>"
                    + "You should’ve ended this chapter with this joke: What do you give a man who’s got "
                    + "everything? A woman. She’ll tell him how everything works. I know, I’m telling you what to "
                    + "do with a joke about a woman telling her husband what to do, so what’s your point?”</p><p> "
                    + "I got the cutest little ring at that same garage sale, and I wore it all the time. I was so sad I lost "
                    + "it a year ago. I’ll never forget that ring. I remember every tiny detail about it. It had like a "
                    + "green emerald, with a cool silver setting, wait, was it gold? And the stone, was it green? Maybe "
                    + "it was blue. Ok, maybe it wasn’t even a stone, maybe it was, wait, was it a ring or a bracelet? "
                    + "That’s right, it was the cutest necklace, that’s it, a cute brooch. Maybe it was a necklace?”</p><p> "
                    + "C’mon, I did a lot of right. How about when I bought a ton of clothes and furniture and stuff? "
                    + "Had it been up to you, we would have lived in a tent, as long as it had a couch for your "
                    + "afternoon naps. Seriously, every day you took a nap after lunch. Who do you think you are?” </p><p>"
                    + "I know why you wrote this part, you never understood how confidant, resolute, and affirming I "
                    + "was when saying, “It’s your decision.” You never figured out what that statement truly meant, "
                    + "“The right decision should be obvious to you by now” In actuality what that means is this: It "
                    + "will never be your decision.” </p><p>"
                    + "Like you never knowing the true meaning of, ‘I’m sorry,’ which is, ‘You’ll be sorry.’” </p><p>"
                    + "Here’s a secret I never told you: You talked while you were asleep, but never made any sense. "
                    + "The one time you did, you said, Christy Brinkley, as clear as day. I knew you were attracted to "
                    + "her. Well, I was attracted to Brad Pitt, so there. Is that the Law of Attraction? Wait, what "
                    + "about Julia Roberts? Exactly how many were you attracted to?” </p><p>"
                    + "Aha! I’ve been waiting for this one. The only reason you wrote this chapter is because of that "
                    + "sun room chair. You never got over it. So what if it cost $1,200? And so what I never told you "
                    + "and you came home one day and found it? It looked good, didn’t it? How many naps did you "
                    + "take on it? Case closed.” </p><p>"
                    + " "
                    + "Just because I bought that comfy, modern, and expensive chair doesn’t mean you can include "
                    + "an entire chapter about money. I know I’m not the editor, but I highly recommend taking it "
                    + "out. That chair looked good. I know $1200 in the 90s is like $2000 now, so what’s your "
                    + "point?” </p><p>"
                    + "One time you said to me, ‘I love listening to you, and you’re also such great listener.’ "
                    + "Remember what I said, ‘Is sex all you think about?’ What do you mean that makes no sense? "
                    + "Why would you tell me I’m a good listener if you didn’t want sex?” </p><p>"
                    + "Speaking of intimacy, remember when we were dating and you asked me, ‘Am I the love of "
                    + "your life?’ I said, ‘At the moment chocolate is, but you’re not far behind.’ Ha ha ha ha.”</p><p> "
                    + "I guess we had chemistry early on, but I knew it was gone when you mistook me turning the "
                    + "lights out for wanting to be romantic. All I wanted was to get some sleep.”</p><p> "
                    + "I hate to interrupt the paragraph, but OMG, your afternoon naps drove me bananas!! I mean "
                    + "every day, you lay on the couch, cover your eyes with a sleep mask, put a pillow under your "
                    + "knees, and pass out for 20 minutes. Ahhhhh. Actually, I enjoyed writing here in the middle of "
                    + "a paragraph, I may do it again.” </p><p>"
                    + "Here I am in the middle again. Now I can tell the world your favorite show during college was "
                    + "Gilligan’s Island, ha ha ha, and I’m going to ignore you mentioning “nap time” again in the "
                    + "next line,” </p><p>"
                    + "Here I am in the middle again. Didn’t you take two years of violin? You know as good as I do "
                    + "- and everyone who’s heard you sing - you are tone-deaf. I should have used ‘as well as’ "
                    + "instead of ‘as good as’? Please, ‘as good as’ works just as good </p><p>"
                    + "OMG. In addition to, “Have we met?” So true BTW, how about mentioning how crazy your "
                    + "afternoon naps made me feel and how forgetful you are, and the BIG one: Your parents, "
                    + "double OMG. How "
                    + "87 "
                    + "much space do I have? Only this little box? Damn, I need more space. Your paren . . .”</p><p> "
                    + "Yeah, like when you took those afternoon naps. You pumped it up, alright, and the snoring "
                    + "alone, good lord, you sounded like a freight train. Good thing you got that surgery to fix your "
                    + "nose, your huge nose, ha ha ha, now I can make fun of it. Your nose is so big, birds can build "
                    + "a nest on it. Your nose is so big, you look like a bus parked on your face. Your nose is so big, "
                    + "people have to take cover when you blow it, ha ha ha ha.” </p><p>"
                    + "You need to show this chapter to your mother, who thinks being blunt is just being honest. "
                    + "Well, tell her in this country we don’t do that. How about that time she came over and my "
                    + "mom had made hamburgers? Your mom wrinkled her nose and said, ‘Me no like "
                    + "hamburgers.’ Did you notice now I’m in Bold AND Italic? Right under the headline? Maybe "
                    + "I’ll write my own book. It would be called: Marriage Advice from a Smart Woman, 50 Ways to "
                    + "not Marry a Doofus. Ha ha ha.” </p><p>"
                    + "How many times have we uttered this lie, “Ummm, sure honey, you have definitely lost "
                    + "weight.” “Were you lying when you said that to me? I should’ve known. Well, I was lying "
                    + "when I said you looked good in green, or you wrote good. What do you mean that’s wrong? "
                    + "‘You wrote well?’ Again? How presoumcious, ‘you wrote good’ is fine. Spelling? What? "
                    + "Presumptuous? I knew that. I was testing you.” </p><p>"
                    + "How about the time you finessed your honesty when I had my eyebrows done? You told me I "
                    + "looked surprised all the time. Very tactful. Well, it’s better than having one eyebrow going "
                    + "across your face, all thick and unruly, you looked like a gorilla.” </p><p>"
                    + "Like the faith you had in me when I took an Arabic class at UT? You constantly made fun of "
                    + "how I said things. Not my fault your language is stupid, and the KHHHHHH sound? You "
                    + "might as well clear your throat and spit, so romantic. Ahhh, why don’t you serenade your "
                    + "girlfriend with some Arabic throat-clearing, spitting sounds? Oh wait, you don’t have a "
                    + "girlfriend, ouch!” </p><p>"
                    + "For real? I never knew that. Of course they’re different Sherlock. Did it ever dawn on you our "
                    + "brains were different when I wanted you to handle "
                    + "five things at once, and you could barely do one at a time? Maddening. I’m pretty sure the left "
                    + "side of your brain is completely empty. That’s the analytical part that deals with organization "
                    + "and having a clue, which I’m endowed with much of.” </p><p>"
                    + "In your case, instead of organized drawers you have a pile of garbage bags, some open, some "
                    + "closed, a few empty, a couple full, all on top of each other. These bags are so stinky and moldy, "
                    + "you can’t get near them, and they’re on an island far away. Yeah, and monkeys are playing "
                    + "with them, dumping their contents everywhere, ha ha ha ha.” </p><p>"
                    + "You did give good foot rubs, but how come I never got breakfast in bed?” </p><p>"
                    + "You think you’re hilarious. It’s not my fault your socks never found their mates. It was also "
                    + "not my problem you were so absent-minded, and so not funny when you said to a strange "
                    + "woman, ‘Honey, have you done something with your hair?’” </p><p>"
                    + "You never understood, ‘I’ll be ready in a minute’ means ‘It will be a while.’”</p><p> "
                    + "I don’t get this chapter. I wear size eight and you wear size eleven, Helloooooooo? Besides, "
                    + "you would look ridiculous in my shoes.”</p><p> "
                    + "Your confidence was what drew me to you early on, but I should have known better. I realized "
                    + "later that tingly feeling when I met you was common sense leaving my body.” </p><p>"
                    + "I never tried to control you. I just always asked you to do what I wanted.”</p><p> "
                    + " "
                    + "Wait, is ‘Susan’ me? Well, you did sit on the recliner all wrong. The way you drove? Crazy. "
                    + "And how you ate, well, I need more room than "
                    + "110 "
                    + "this box to talk about everything you did wrong. Shoot, why do these boxes keep getting "
                    + "smaller? Are you doing this on purpose?” "
        // Length of text is 11034
        var i = 0
        var speed = 50
        var userControl = false;

       
          
        var counter = 0;
        document.addEventListener("click", function(){
               ++counter;
               if(counter == 1){
                   document.getElementById('exWifeTitle').innerHTML = 'Click to Fast-Forward' 
               }
               if(counter == 2){
                   i = txt.length;
                   document.getElementById("exWifeNotes").innerHTML = txt;
                   document.getElementById('exWifeTitle').innerHTML = 'Notes from the Ex'
               }
           })
        function typeWriter(){
           var x = document.getElementById("exButton")
           
           x.style.display = "none"
           if (i < txt.length) {
                document.getElementById("exWifeNotes").innerHTML += txt.charAt(i);              
                i++;
                setTimeout(typeWriter, speed);
            } 
        }
    .container
        button#exButton(onclick="typeWriter()") Click To Read from the Ex-Wife
        h1#exWifeTitle Notes from the Ex
        hr(style='border-color:purple;border-width:5px;border-style:dashed;')
        p#exWifeNotes(style='')
        hr(style='border-color:purple;border-width:5px;border-style:dashed;')
        

block content
    .container