
extends ../layouts/default


block intro

block content
	div.jumbotron.galleryContainer
		#magicCarousel.carousel.slide(data-ride="carousel")
			.carousel-inner(role="listbox")
				each i in range(0,85)
					if i == 0
						.carousel-item.active
							img.galleryImages.d-block(src='images/gallery/'+ i + '.jpg').img-rounded
					else
						.carousel-item
							img.galleryImages.d-block(src='images/gallery/' +i + '.jpg').img-rounded
		a.carousel-control-prev(href="#magicCarousel" role="button" data-slide="prev")
			span.carousel-control-prev-icon
			span.sr-only Previous
		a.carousel-control-next(href="#magicCarousel" role="button" data-slide="next")
			span.carousel-control-next-icon
			span.sr-only Next

block js
	//- script(src='js/carouselNormalization.js')
		