extends ../layouts/default

block content
	.container: .row: .blog.justify-content-center.post
		article
			p.backToBlog: a(href='/blog') &larr; back to the blog
			hr(style='margin:0px;margin-bottom:2em;')
			if !data.post
				h2 Invalid Post.
			else
				header
					h1.blogTitle.postTitle= data.post.title
					h5.published.postPublished Posted 
						if data.post.publishedDate
							| on #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
						if data.post.author
							| by #{data.post.author.name.first}
						if data.post.image.exists
							.image-wrap: img.postImage(src=data.post._.image.fit(750,450)).img-responsive
	hr(style='border-width:0.6rem;margin:rem 10rem;width:90%')
	.post.postPage.postContent
		!= data.post.content.full
	hr(style='border-width:0.6rem;margin:rem 10rem;width:90%')
