a#readMoreBlog{
    font-size:1rem;
}

.postPage{
    text-align:center;
    margin:10px 20rem;
    font-size:2rem;
}

.col-sm-8{
    width:100%;
}

img.pull-right{ 
    margin-left:2rem;
}

.blogsPageContent{
    text-indent:2rem;
}