.blog {
	font-family: 'Libre Baskerville', sans-serif;
    margin: auto;
    text-align:left;
}
.postPage {
	text-align: center;
	margin: 10px 20rem;
	font-size: 2rem;
}

.col-sm-8 {
	width: 100%;
}

img.pull-right {
	margin-left: 2rem;
}



.blogTitle {
    font-size: 4rem;
    color:rgb(9, 9, 136);
}

.blogImage {
	float: right;
}

.published {
	font-size: 1.6rem;
	color: rgb(190, 188, 188) !important;
}

.blogsPageContent {
    text-indent: 2rem;
    font-size:1.5rem;
}

.read-more{
    font-size:1.4rem;
}
