.jumbotron {
	background-color: #FFFFFF;
	border: 0px solid;
	font-family: 'Khand', sans-serif;
}

$displayHeight: 50rem;

.displayContainer .display {
	width: 140rem;
	margin: auto;
}


#bookCover {
	box-shadow: rgba(0, 0, 0, 0.664) 0px 10px 32.5px 0px;
	height: $displayHeight;
	margin-right: 10rem;
}

@media(max-width:1550px) {

	// Cover Dissappear
	img#bookCover {
		display: none;
	}
}

#bookContent {
	font-family: 'Khand', sans-serif;
	// font-family:'Libre Baskerville', serif;
	width: 960px;
	display: inline-block;
	height: $displayHeight;
	vertical-align: top;
	margin:auto;
}

.bookTitle {
	display: inline;
	margin-top: 0px;
	font-weight: 700;
	font-size: 60px;
	color: #f22527;
	text-shadow: 1px 1px 1px black;
}

#bookTitle1 {
	margin-top: 0px;
	font-weight: 700;
}

#bookTitle2 {
	margin-top: 0px;
	font-weight: 200;
}

#bookTitle3 {
	margin-top: 0px;
	font-weight: 700;
}


p.bookDescription {
	font-weight: 400;
	color: black;
	justify-content: baseline;
}

.read-more {
	font-size: 25px;
	text-decoration: underline;
	line-height: 30px;
}

hr {
	border-width: 2px;
	border-color: rgba(0, 0, 0, 0.096);
}

#buyBookContainer {
	margin-bottom: 50px;
}

#buyBookForm {
	width: 200px;
	margin: auto;
	margin-top: 120px;
}

#buyBook {
	font-size: 20px;
	font-family: 'Khand', sans-serif;
	background-color: white;
	width: 200px;
	text-align: center;
	border: 2px solid black;
	border-radius: 5px;
	transition: 0.7s;
}

#buyBook:hover {
	color: cyan;
	background-color: black;
	border-color: white;
	border-radius: 100px;
}

/* Blog Part ******************************************************************************8*/

#blogContainer {
	padding: 0px; // TEST ??
	margin: 0px; // TEST ??
	display: flex;
	position: relative;
}

$blogContentPercent:70%;

#blogContentContainer {
	position:absolute;
	width: $blogContentPercent - 5%;
	margin: 10px 10px 10px 10px;
	background-color: rgba(218, 202, 202, 0.034);
}

.blogPostHeader {
	background-color: black;
	height: 6rem;
	width: 100%;
	font-size: 3rem;
	color: white;
	padding-top: 1rem;
	padding-left: 2rem;
	position: relative;
}

.latestPostHeader {
	background-color: black;
	height: 6rem;
	width: 100%;
	font-size: 3rem;
	color: white;
	padding-top: 1rem;
	padding-left: 2rem;
	position: relative;
	margin-right:100px;
}

.contentWrapper{
	width:90%;
	margin:auto;
}

.content {
	padding-left: 15px;
	text-align:center;
}

.postTitle {
	display: block;
	font-size: 6rem;
	text-decoration: underline;
	color:black;
	transition:0.5s;
	
}
.postTitle:hover{
	color:rgb(23, 23, 144);
}



.postPublishedDate {
	font-size: 4rem;
}

.latestPostImage {
	// float:right;
	width: 100%;
	margin-bottom: 4rem;
}

p.blogContent {
	font-size: 2.2rem;
	font-weight: 400;
	text-indent: 3rem;
}

#blogContinue {
	display: inline;
	font-size: 1.6rem;
	padding: 0px;
}

#otherContainer {
	height: 1000px; // TEST
	width: 100% - $blogContentPercent;
	margin: 10px 10px 10px 10px;
	position:absolute;
	right:0;
}

#recentPosts {
	height: 70%;
}


.recentPostLinks {
	display: block;
	font-size: 3rem;
	font-weight: 100;
	padding-left:20px;
}

#firstRecentPost {
	margin-top: 10px;
}

#signUpContainer {
	height: 30%;
	bottom:0;
}


.subscribeContainer{
	border: 10px rgba(128, 128, 128, 0.11) solid;
	padding: 10px; 
	position:absolute;
	width:100%;
	bottom:0;
}

.header{

}

h2.subscribe{
	text-align:center;
	letter-spacing:0.5rem;
	margin-top:10px;
}

p.signUpHeader{
	text-align:center;
	font-size:1.5rem;
	margin-bottom:10px;
}
.emailInputDiv{
	height:4rem;
	width:50%;
	margin:auto;
}
input.emailInput{
	margin:auto;
	display:inline-block;
	bottom:10px;
	width:60%;
	height:100%;
}

p.privacyText{
	margin:0px;
}

input.submit{
	width:35%;
	display:inline-block;
	background-color:black;
	color: white;
	transition:1s;
	height:100%;
	font-weight:600;
	font-size: 110%;
	font-family: 'Khand';
	border:0px;
}

input.submit:hover{
	color:black;
	background-color:white;
	border: 1px black solid;
}