:root {
	box-sizing: border-box;
	--ratio: 1.5px;
	-webkit-font-smoothing:antialiased;
	-webkit-font-smoothing:subpixel-antialiased;
	-moz-osx-font-smoothing:auto;
	font-size:10px;
}

body {
	font-family: 'Khand', serif;
	
}

.container {

}

.container-fluid {

}