$linkScale : 80px;

.headerSpacer {
	display: none;
	// width: 99vw;
	background-color: black;
}

#headerSpacer1 {
	height: 2px;
	margin-bottom: 4px;
}

#headerSpacer2 {
	height: 1px;
}

.navbar {
	height: $linkScale;
	background-color:rgb(243, 243, 243);
	border: 0px;
}

.linksBarContainerFluid {
	height: $linkScale;
	text-align: center;
}

#linksBar {
	display: inline-block;
	height: $linkScale;
}

.navbar-nav>li>a {
	// ul element for links
	line-height: $linkScale*(2/5);
	padding: $linkScale*(3/10);
	font-size: $linkScale*(1/3);
	font-family: 'Khand', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

.navButton{
	transition:0.5s;
}

li.navButton:hover{
	background-color:black;
	a.links:hover{
		color:white;
	}
}

li.active:hover{
	a.links:hover{
		color:#555;
	}
}
