$navbarHeight: 80px; // This will adjust height of navbar

.navbar {
	background-color: #f3f3f3;
	min-height: $navbarHeight;
}

.navbar-toggle {
	margin-top: ($navbarHeight - 34px) / 2;
	padding: 9px 10px !important
}

$line-height: 28px;

@media (min-width:768px) {
	.navbar-nav>li>a {
		// padding-top: ($navbarHeight - $line-height) / 2;
		// padding-bottom: ($navbarHeight - $line-height) / 2;
		line-height: $line-height;
	}
}

#nav-item {
	font-size: 4rem;
	margin-right: 4rem;
	

	// height:$navbarHeight'
}

#nav-link {
	text-transform: uppercase;
	text-decoration: solid;
	-webkit-font-smoothing: subpixel-antialiased;
	color: rgb(116, 115, 115);
	font-weight: 600;
	font-size: 26.66px;
	transition: 0.5s;
}

#nav-item.active > #nav-link{
	color:black;
}

#nav-link:hover {
	color: white;
}
