.backToBlog{
    text-align:left;
    padding-left:1rem;
}

.post{
    font-family: 'Libre Baskerville', sans-serif;
    margin: auto;
    text-align:center;
}

.postTitle{
    text-decoration: underline;
    font-size:2.5rem;
}

.postPublished{
    font-size:1.1rem;
}

.postImage{
    margin-top:2rem;
    width:80%;
}

.postContent{
    text-indent:5rem;
    text-align: justify;
    padding:0 2rem;
    @include media-breakpoint-down(xs){
        word-spacing: -2px;
    }
}
